<%- include('components/head.html') -%>
    <div class="pb-6">

    </div>
    <div class="row">
        <div class="col-xl-10 center-item">
            
            <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab"
                            href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1"
                            aria-selected="true"><i class="fas fa-list"></i> Tareas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                            href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2"
                            aria-selected="false"><i class="fas fa-wrench"></i> En proceso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab"
                            href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3"
                            aria-selected="false"><i class="fas fa-check-circle"></i> Terminada</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab"
                            href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-3"
                            aria-selected="false"><i class="fas fa-plus-circle"></i> Añadir</a>
                    </li>
                </ul>
            </div>
            <div class="card shadow">
                <div class="card-body content-body-task">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane p-2 fade show active" id="tabs-icons-text-1" role="tabpanel"
                            aria-labelledby="tabs-icons-text-1-tab">
                            <ul class="tasks-container">
                                <% tasks_pending.forEach(({ _id, title, description})=> { %>
                                    <li class="tasks-item p-3">
                                        <span>
                                            <div class="content-task">
                                                <h2>
                                                    <%= title %>
                                                </h2>
                                                <p>
                                                    <%= description %>
                                                </p>
                                            </div>
                                            <div class="row container-actions">
                                                <ul class="list-actions">
                                                    <a href="/admin/task/change/process/<%= _id %>">
                                                        <li title="En proceso..." class="p-2">
                                                            <i class="fas fa-wrench"></i>
                                                        </li>
                                                    </a>
                                                    <a href="/admin/task/change/ending/<%= _id %>">
                                                        <li title="Cumplido" class="p-2">
                                                            <i class="fas fa-check-circle check-btn-ctrl"></i>
                                                        </li>
                                                    </a>
                                                    <a href="/admin/task/update/<%= _id %>">
                                                        <li title="Actualizar" class="p-2">
                                                            <i class="fas fa-edit update-btn-ctrl"></i>
                                                        </li>
                                                    </a>
                                                    <a href="/admin/tasks/delete/<%= _id %>">
                                                        <li title="Eliminar" class="p-2">
                                                            <i class="fas fa-trash-alt delete-btn-ctrl"></i>
                                                        </li>
                                                    </a>
                                                </ul>
                                            </div>
                                        </span>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel"
                            aria-labelledby="tabs-icons-text-2-tab">
                            <ul class="tasks-container">
                                <% tasks_process.forEach(({ _id, title, description})=> { %>
                                    <li class="tasks-item p-3">
                                        <span>
                                            <div class="content-task">
                                                <h2>
                                                    <%= title %>
                                                </h2>
                                                <p>
                                                    <%= description %>
                                                </p>
                                            </div>
                                            <div class="row container-actions">
                                                <ul class="list-actions">
                                                    <a href="/admin/task/change/pending/<%= _id %>">
                                                        <li title="Pendiente" class="p-2">
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </li>
                                                    </a>
                                                    <a href="/admin/task/change/ending/<%= _id %>">
                                                        <li title="Cumplido" class="p-2">
                                                            <i class="fas fa-check-circle check-btn-ctrl"></i>
                                                        </li>
                                                    </a>
                                                    <a href="/admin/task/update/<%= _id %>">
                                                        <li title="Actualizar" class="p-2">
                                                            <i class="fas fa-edit update-btn-ctrl"></i>
                                                        </li>
                                                    </a>
                                                    <a href="/admin/tasks/delete/<%= _id %>">
                                                        <li title="Eliminar" class="p-2">
                                                            <i class="fas fa-trash-alt delete-btn-ctrl"></i>
                                                        </li>
                                                    </a>
                                                </ul>
                                            </div>
                                        </span>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel"
                            aria-labelledby="tabs-icons-text-3-tab">
                            <ul class="tasks-container">
                                <% tasks_ending.forEach(({ _id, title, description})=> { %>
                                    <li class="tasks-item p-3">
                                        <span>
                                            <div class="content-task">
                                                <h2>
                                                    <%= title %>
                                                </h2>
                                                <p>
                                                    <%= description %>
                                                </p>
                                            </div>
                                            <div class="row container-actions">
                                                <ul class="list-actions">
                                                    <a href="/admin/task/change/pending/<%= _id %>">
                                                        <li title="Pendiente" class="p-2">
                                                            <i class="fas fa-exclamation-circle"></i>
                                                        </li>
                                                    </a>
                                                    <a href="/admin/task/change/process/<%= _id %>">
                                                        <li title="En proceso..." class="p-2">
                                                            <i class="fas fa-wrench check-btn-ctrl"></i>
                                                        </li>
                                                    </a>
                                                    <a href="/admin/task/update/<%= _id %>">
                                                        <li title="Actualizar" class="p-2">
                                                            <i class="fas fa-edit update-btn-ctrl"></i>
                                                        </li>
                                                    </a>
                                                    <a href="/admin/tasks/delete/<%= _id %>">
                                                        <li title="Eliminar" class="p-2">
                                                            <i class="fas fa-trash-alt delete-btn-ctrl"></i>
                                                        </li>
                                                    </a>
                                                </ul>
                                            </div>
                                        </span>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel"
                            aria-labelledby="tabs-icons-text-4-tab">
                            <div class="row">
                                <div class="col-xl-8 center-item">
                                    <form action="/admin/tasks/add" class="bg-primary p-4 rounded" method="POST">
                                        <div class="form-group">
                                            <label class="text-white" for="exampleFormControlInput1">Titulo de la
                                                tarea</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                                name="title" placeholder="Titulo...">
                                        </div>
                                        <div class="form-group">
                                            <label class="text-white" for="exampleFormControlTextarea1">Descripcion de
                                                la tarea</label>
                                            <textarea class="form-control" name="description"
                                                id="exampleFormControlTextarea1" placeholder="Descripcion..."
                                                rows="10"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-default" type="submit" value="Enviar">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('components/footer.html') -%>